.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 27px;
    justify-content: center;
    background-color: rgb(99, 123, 148);
    box-shadow: #000 0px 2px 4px -2px inset;

    &-links {
        :link {
            text-decoration: none;
            color: white;
        }
        :visited {
            color: white;
        }
        :hover {
            border-radius: 2px;
            border: 1px solid white;
        }
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: white;

        a {
            border: 1px solid transparent;
            min-width: 48px;
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}
